In [8]:
import FinanceDataReader as fdr
import pandas as pd
from pykrx import stock
from pykrx import bond

In [5]:
kodex200_ticker = "069500"
kodex200_data = fdr.DataReader(kodex200_ticker, "20130104", "20230104")
kodex200_data.head()

             Open   High    Low  Close   Volume    Change
Date
2013-01-04  22379  22395  22182  22234  6178284 -0.006080
2013-01-07  22241  22272  22066  22248  5377188  0.000630
2013-01-08  22125  22213  21994  22012  4744474 -0.010608
2013-01-09  22039  22133  21903  21928  5908851 -0.003816
2013-01-10  21949  22163  21866  22124  6323150  0.008938

In [6]:
kodex200_data.to_csv("./Data/kodex200_data.csv")

In [20]:
df = stock.get_market_trading_value_by_investor("20210115", "20210130", "069500")
df.head(20)

       매도  매수  순매수
투자자구분
금융투자    0   0    0
보험      0   0    0
투신      0   0    0
사모      0   0    0
은행      0   0    0
기타금융    0   0    0
연기금 등   0   0    0
기관합계    0   0    0
기타법인    0   0    0
개인      0   0    0
외국인     0   0    0
기타외국인   0   0    0
전체      0   0    0